#backgroundImg {
  margin:auto;
  border: 2px solid black;
  padding: 0px;
  background-position: center;
  border-radius: 85px;
  width: 200px;
  height: 200px;
  display: block;
}


#body1{
    position: relative; 
    text-align: center;

    
}



#btr1, #btr2, #btr3{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#btr1:hover {background-color: #3e8e41}
#btr2:hover {background-color: #3e8e41}
#btr3:hover {background-color: #3e8e41}

#btr1 #btr2 #btr3:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




body{
  background-color: #935d8c;
  background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #ca2839 15%, #9d87e0 85%);
  background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #ca2839 15%, #9d87e0 85%);
  background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #ca2839 15%, #9d87e0 85%);
  background-image: url("images/overlay.png"), linear-gradient(45deg, #ca2839 15%, #9d87e0 85%);
}

body, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.65;
}

a {
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit;
}

  a:hover {
    border-bottom-color: transparent;
  }


#banner{
    visibility: hidden;
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    animation: mymove 5s infinite;
    animation-direction: normal;
    animation-play-state: paused;
}

@keyframes mymove {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
  }


  #nav {
		background-color: #ffffff;
		color: #636363;
		position: sticky;
		width: 100%;
		max-width: calc(100% - 2em);
		padding: 1em;
		background-color: #f7f7f7;
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;
		cursor: default;
		text-align: center;
    top: 0;
    z-index: 10;
    margin-bottom: -3px;
	}

 

  #nav a:hover {
    color: #636363;
  }

  #nav + #main {
    padding-top: 4.25em;
  }

  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #nav ul li {
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
  }

    #nav ul li a {

      display: inline-block;
      height: 2.25em;
      line-height: 2.25em;
      padding: 0 1.25em;
      border: 0;
      border-radius: 100px;
      box-shadow: inset 0 0 0 1px transparent;
    }

      #nav ul li a:hover {
        background-color: rgba(222, 222, 222, 0.25);
      }

      #nav ul li a.active {
        background-color: #ffffff;
        box-shadow: none;
      }
      #nav.alt {
        position: fixed;
        top: 0;
        padding: 0.5em 1em;
        background-color: rgba(247, 247, 247, 0.95);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 10000;
      }
  
        #nav.alt ul li {
          margin: 0 0.175em;
        }
  
          #nav.alt ul li a {
            font-size: 0.9em;
          }
  

      #main {
        background-color: #ffffff;
        color: #636363;
        border-radius: 0.25em;
      }
    
 
      .button {
        border-radius: 8px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 300;
        height: 2.75em;
        line-height: 2.75em;
        min-width: 9.25em;
        padding: 0 1.5em;
        text-align: center;
      }
 
      
      .image {
        border-radius: 8px;
        border: 0;
        display: inline-block;
        position: relative;
      }
    
        .image img {
          border-radius: 8px;
          display: block;
          width: 50%;
        }


          header.major {
            margin-bottom: 3em;
          }
        
            #intro header.major h2 {
              font-size: 2em;
              text-align: left;
            }
    
            .spotlight {
              display: flex;
              align-items: center;
            }
          
              .spotlight .content {
                font-size: smaller;
                text-align: left;
                margin: 0em 2em 0em 5em;
                
              }
          
                .spotlight .content > :last-child {
                  margin-bottom: 0;
                  
                }
          

                .spotlight .image {
                  display: inline-block;
                  margin: 0 4em 0 4em;
                  padding: 0.65em;
                  border-radius: 100%;
                  border: solid 1px;
                  z-index: 1;
                }
            
                  .spotlight .image img {
                    display: block;
                    border-radius: 100%;
                    width: 16em;
                  }

                  .spotlight .image {
                    border-color: rgba(255, 255, 255, 0.35);
                  }



                  ul.actions {
                    display: flex;
                    cursor: default;
                    list-style: none;
                    margin-left: 0em;
                    padding-left: 0;
                  }
                
                    ul.actions li .button{
                      padding: 0 0 0 0em;
                      vertical-align: middle;
                      background-color: white;
                      border: 2px solid #4e3281;
                      margin-bottom: 50px;
                    }


    
                    #main {
                      background-color: #ffffff;
                      color: #636363;
                      border-radius: 0.25em;
                    }
                  
                  
                      #main > .main {
                        padding: 5em 5em 3em 5em ;
                        border-top: solid 1px #dddddd;
                      }
                  
                        #main > .main:first-child {
                          border-top: 0;
                          margin-top: -100px;
                        }


        #education .features{
          text-align: left;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: auto;
          grid-template-areas: 
            "header   header"
            "Course skill"
   
        }
  
     .S2, .Skill{
       margin-left: 15%;
     }

 

     #footer {


      padding: 5em 5em 3em 5em ;
      width: calc(100%-20em);

      font-size: 100%;
      font: inherit;
      text-align: left;

      display: block;
      
      
    }
  


      .cHeader{
        text-align: center;
      }

      #footer .alt{
        padding-right: 10%;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
          "header   header"
          "Course skill"
 
      }

      #footer .alt .a{
        text-align: right;
      }

      #footer .alt .b{
        text-align: left;
      }



      .proj, .wExp{
        text-align: left;
      }